@font-face {
  src: url('../fonts/calc.ttf');
}


.mainBorderPane {
  -fx-background-color: #e6e6e6;
  -fx-border-color: black;
  -fx-border-width: 1;
}

.numpad {
  -fx-border-color: #e6e6e6;
  -fx-background-color: #f0f0f0;
  -fx-font-family: "Segoe MDL2 Assets";
  -fx-font-size: 15;
  -fx-background-radius: 0;
}

.numpad:hover {
  -fx-background-color: #e6e6e6;
}

.digitButton {
  -fx-background-color: #fafafa;
  -fx-font-family: "Segoe UI Semibold";
  -fx-font-size: 24;
}


.memoryButton {
  -fx-background-color: transparent;
  -fx-background-radius: 0;
  -fx-font-family: "Calculator MDL2 Assets";
}

.ex {
  -fx-font-size: 19;
}

.arithmeticButton:hover {
  -fx-background-color: #4c4a48;
  -fx-text-fill: #fafafa;
}

.windowButton {
  -fx-background-color: transparent;
  -fx-font-family: "Segoe MDL2 Assets";
  -fx-font-size: 10;
  -fx-background-radius: 0;
}

.windowButton:hover {
  -fx-background-color: #cfcfcf;
}

.sideMenuButton {
  -fx-font-size: 14;
  -fx-font-family: "Calculator MDL2 Assets";
  -fx-border-width: 0;
  -fx-background-color: transparent;
}

.sideMenuButton:hover {
  -fx-background-color: #cfcfcf;
}

.sideMenuLabel {
  -fx-background-color: transparent;
  -fx-font-family: "Segoe UI Semibold";
  -fx-font-size: 14;
}

.sideMenuBorderPane {
  -fx-background-color: #e6e6e6;
}

.scroll-pane > .viewport {
  -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar:hover {
  -fx-background-color: transparent;
}

.scroll-bar:hover .track:hover {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-radius: 0em;
}


.scroll-bar:vertical {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.scroll-bar:vertical .thumb {
  -fx-background-color: #8a8a8a;
  -fx-background-radius: 2em;
}


.scroll-bar:hover .thumb {
  -fx-background-color: #b8b8b8;
  -fx-background-radius: 0;
}


.scroll-bar:vertical .thumb:hover {
  -fx-background-color: #8a8a8a;
  -fx-background-radius: 0;
}

.scroll-bar:vertical > .increment-button, .decrement-button {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-radius: 0em;
  -fx-padding: 0 0 10 0;
}

.scroll-bar:vertical .increment-arrow, .scroll-bar .decrement-arrow {
  -fx-shape: " ";
  -fx-padding: 2px;
}


.scroll-bar:hover .increment-arrow, .scroll-bar:hover .decrement-arrow {
  -fx-padding: 8px;
}

.moveFormulaButton {
  -fx-font-family: "Segoe UI Semibold";
  -fx-font-size: 14;
  -fx-background-color: transparent;
  -fx-pref-width: 10;
  -fx-pref-height: 10;
}

.moveFormulaButton:hover {
  -fx-background-color: #b9b9b9;
}

#history {
  -fx-background-color: transparent;
  -fx-font-family: "Segoe MDL2 Assets";
  -fx-font-size: 16;
}

#sideMenuButton {
  -fx-background-color: transparent;
  -fx-background-radius: 0;
}

#sideMenuButton:hover {
  -fx-background-color: #cfcfcf;
}

#closeButton:hover {
  -fx-background-color: #e81123;
  -fx-text-fill: white;
}

#standard {
  -fx-font-size: 19.5;
  -fx-font-family: "Segoe UI";
  -fx-text-fill: black;
}

#point {
  -fx-font-family: "Segoe UI Semibold";
  -fx-font-size: 24;
}

#display {
  -fx-font-size: 46;
  -fx-font-family: "Segoe UI Semibold";
  -fx-text-alignment: right;
}

#historyLabel {
  -fx-font-size: 14;
  -fx-font-family: "Segoe UI Semibold";
}

#formula {
  -fx-font-size: 14;
  -fx-background-color: transparent;
  -fx-font-family: "Segoe UI";
  -fx-text-fill: #5c5c5c;
}


